<% include ../partials/boilerplate %>

<form method= 'POST' action='/lists'>
  <input name='list' type='text' placeholder='List' />
        <select name='status' type='text' placeholder='Status'>
          <option value='DONE'>DONE</option>
          <option value='NEED TO DO'>NEED TO DO</option>
          <option value='IN PROGRESS'>IN PROGRESS</option>
        </select>
      </label></br>
  <input type='submit' value='Add it!' />
</form>

<% include ../partials/footer %>
