<% include ../partials/boilerplate %>

  <a href="/lists/new">Add List</a>
  <% for (let list of data) { %>
    <div class='list'>
      <p><%= list.list %></p>
      <p><%= list.status %></p>
      <a href='/lists/<%= lists.id%>'>Learn more</a>
    </div>
  <% } %>

  <% include ../partials/footer %>
