<% include ../partials/boilerplate %>

  <a href="/lists/new">Add List</a>
  <% for (let list of data) { %>
    <div class='list'>
      <p><%= list.content %></p>
      <a href='/lists/<%= list.id%>'>Learn more</a>
    </div>
  <% } %>

  <% include ../partials/footer %>
