<% include ../partials/boilerplate %>

<form method='POST' action='/quotes/<%= data.id %>?_method=PUT'>
<input name="id" type="hidden" value="<%= data.id %>">
  <input name='list' type='text' value='<%= data.list %>' />
  <input name='status' type='text' value='<%= data.status %>' />
  <label for='status_id'> Status
          <option value='1'>DONE</option>
          <option value='2'>NEED TO DO</option>
          <option value='3'>IN PROGRESS</option>
        </select>
      </label></br>
  <input type='submit' value='Edit it!' />
</form>

<% include ../partials/footer %>
