<% include ../partials/boilerplate %>
<div id='add'>
  <a href="/lists/new">Add List</a>
  </div>
  <% for (let list of data) { %>
    <div class='list'>
    <div id='bucketlist'>
      <a href='/lists/<%= list.id%>'><%= list.list %></a>
      </div>
      <p><%= list.status %></p>

    </div>
  <% } %>

  <% include ../partials/footer %>
