<% include ../partials/boilerplate %>

<form method='POST' action='/lists/<%= list.id %>?_method=PUT'>
<input name="id" type="hidden" value="<%= list.id %>">
  <input name='list' type='text' value='<%= list.list %>' />
  <input name='status' type='text' value='<%= list.status %>' />
 </br>
  <input type='submit' value='Edit it!' />
</form>

<% include ../partials/footer %>
