<% include ./partials/boilerplate.ejs %>
  <div id ="landing">
  <h1><%= message %></h1>
  </div>
  <div id ="title">
  <h1><a href="/lists">Bucket List</a></h1>
  </div>
<% include ./partials/footer.ejs %>
